<div class="span4"></div>
<div class="span6">
    <%- model_class = Post -%>
    <div class="page-header">
      <h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
    </div>
    <%= render :partial => 'form' %>
</div>
<div class="span2"></div>
